@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');

.new-amsterdam-regular {
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "New Amsterdam", sans-serif;
}

h2 {
  font-size: 2.1em;
}

#container {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

ion-header{
  gap: 8px;
  align-items: center;
  display: flex;
  box-shadow: none;
  margin-bottom: 40px;
}

ion-header ion-img{
  width: 20%;
}

.inputs {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 30px;
}

.inputs h1 {
  margin: 0;
  text-align: center;
  font-size: 2.6em;
  background-color: #5ac9ee1c;
  border-radius: 18px;
  width: fit-content;
  padding: 0 35px 0 35px;
  margin: auto;
}

.inputs div {
  width: 100%;
}

.inputs ion-input {
  width: 100%;
  border: 2px #202529 solid;
  border-radius: 18px;
  margin-top: 12px;
}

ion-header div h2, ion-header div p {
  margin: 0;
}

.botao {
  width: 90%;
  height: 40px;
  margin: auto;
  --border-radius: 14px;
  --background: #5ac8ee;
  color: azure;
  font-weight: 700;
  font-size: 20px;
}

.botoes {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  flex-direction: column;
}

.inputs div ion-label {
  font-size: 1.2em;
}

.perfil {
  margin: auto;
  border: solid 3px #5ac8ee;
  width: 120px;
  height: 120px;
  background-color: rgb(199, 199, 199);
  position: relative;
}

.perfil ion-fab {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: -5px;
  margin-right: -5px;
}

.perfil ion-fab ion-fab-button {
  width: 40px;
  height: 40px;
}