
<ion-content [fullscreen]="true" color="primary">
  <div id="container" color="primary">
    <ion-header>
      <ion-img src="../../assets/logo.png"></ion-img>
      <h2>Login</h2>
    </ion-header>
    
    <div class="inputs">
      <div>
        <ion-label>Email:</ion-label>
        <ion-input [(ngModel)]="email" placeholder="Digite o email"></ion-input>
      </div>

      <div>
        <ion-label>Senha:</ion-label>
        <ion-input [(ngModel)]="senha" type="password" placeholder="Digite uma senha"></ion-input>
      </div>
    </div>
    
    <div class="botoes">
      <ion-button class="botao" expand="block" (click)="logar()">Entrar</ion-button>
      <ion-button class="botao" expand="block" routerLink="/home">Cadastrar</ion-button>
    </div>
  </div>
</ion-content>
