#container {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

ion-header{
  gap: 8px;
  align-items: center;
  display: flex;
  box-shadow: none;
  margin-bottom: 40px;
}

ion-header ion-img{
  width: 20%;
}

.inputs {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 30px;
}

.inputs ion-input {
  width: auto;
  border: 2px #202529 solid;
  border-radius: 18px;
  margin-top: 12px;
}

.botao {
  width: 90%;
  height: 40px;
  margin: auto;
  --border-radius: 14px;
  --background: #5ac8ee;
  font-weight: 700;
}

.botoes {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  flex-direction: column;
}